<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../css/main.css" rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>[[#{page.addItem}]]</h2>
    </div>

    <form action="item.html" method="post" th:action th:object="${item}">
        <div>
            <label for="itemName">[[#{label.item.itemName}]]</label>
            <input class="form-control" th:field="*{itemName}" th:placeholder="#{input.placeholder.name}" type="text">
        </div>
        <div>
            <label for="price">[[#{label.item.price}]]</label>
            <input class="form-control" th:field="*{price}" th:placeholder="#{input.placeholder.price}" type="text">
        </div>
        <div>
            <label for="quantity">[[#{label.item.quantity}]]</label>
            <input class="form-control"
                   th:field="*{quantity}"
                   th:placeholder="#{input.placeholder.quantity}"
                   type="text">
        </div>

        <hr class="my-4">

        <!-- Single Checkbox -->
        <div>
            <div>[[#{label.open}]]</div>
            <div class="form-check">
                <input class="form-check-input" th:field="*{open}" type="checkbox">
                <label class="form-check-label" for="open">[[#{label.open.check}]]</label>
            </div>
        </div>

        <!-- Multi Checkbox -->
        <div>
            <div>[[#{label.region}]]</div>
            <div class="form-check form-check-inline" th:each="region : ${regions}">
                <input class="form-check-input" th:field="*{regions}" th:value="${region.key}" type="checkbox">
                <label class="form-check-label"
                       th:for="${#ids.prev('regions')}"
                       th:text="${region.value}"></label>
            </div>
        </div>

        <!-- Radio Button -->
        <div>
            <div>[[#{label.itemType}]]</div>
            <div class="form-check form-check-inline" th:each="type : ${itemTypes}">
                <input class="form-check-input" th:field="*{itemType}" th:value="${type.name()}" type="radio">
                <label class="form-check-label"
                       th:for="${#ids.prev('itemType')}"
                       th:text="${type.description}"></label>
            </div>
        </div>

        <!-- Select Box -->
        <div>
            <div>[[#{label.deliveryCode}]]</div>
            <select class="form-select" th:field="*{deliveryCode}">
                <option value="">[[#{option.deliveryCode.none}]]</option>
                <option
                        th:each="deliveryCode : ${deliveryCodes}"
                        th:text="${deliveryCode.displayName}"
                        th:value="${deliveryCode.code}"
                ></option>
            </select>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">[[#{button.save}]]</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">[[#{button.cancel}]]
                </button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>